
<div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="resourceModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="resourceModalLabel">Title Here</h4>

      </div>
      <div class="modal-body">
        <h5>url here</h5>
        <h6>Description here</h6>
        <form action="/api/comments/?_method=PUT" method="POST">
          <div class="form-group">
            <label for="comments-text" class="control-label">Add a comment:</label>
            <textarea class="form-control" id="comments-text"></textarea>
            <input type="hidden" value="" name="resourceID" id="resourceID">
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
