
<div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="resourceModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="resourceModalLabel">Title Here</h4>

      </div>
      <div class="modal-body">
        <h5>url here</h5>
        <h6>Description here</h6>
        <form class="star_rating" method="POST" action="/api/rating">
          <button name="star" class="star" type=submit value="5">☆</button>
          <button name="star" class="star" type=submit value="4">☆</button>
          <button name="star" class="star" type=submit value="3">☆</button>
          <button name="star" class="star" type=submit value="2">☆</button>
          <button name="star" class="star" type=submit value="1">☆</button>
          <input type="hidden" value="" name="resourceID" class="resourceID">
          <input type="hidden" name="userID" value="<%= user.id %>">
        </form>
        <!--Like/Unlike-->
        <form action="/api/like" method="POST" class="like">
          <button type="submit">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <input type="hidden" value="" name="resourceID" class="resourceID">
            <input type="hidden" name="userID" value="<%= user.id %>">
          </button>
        </form>
        <!--Add Comment-->
        <button class="show_comment_field">
          <i class="fa fa-comment" aria-hidden="true"></i>
        </button>
        <form id="add_comment" action="/api/comment" method="POST">
          <input name="comment" type="textarea" value="">
          <input type="submit" value="Comment">
          <input type="hidden" value="" name="resourceID" class="resourceID">
          <input type="hidden" name="userID" value="<%= user.id %>">
        </form>
        <!--Add to Category-->
        <form action="/api/add_res" method="POST">
          <h6>Add to Category</h6>
          <select name="cat_id">
            <option></option>
          </select>
          <input type="submit" value="Add">
          <input type="hidden" value="" name="resourceID" class="resourceID">
          <input type="hidden" name="userID" value="<%= user.id %>">
        </form>
      </div>
    </div>
  </div>
</div>
