<!DOCTYPE html>
<html lang="en">

  <head>
    <title> Login/Register </title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>

  <body>
    <% include partials/_nav-bar %>
    <div class="container">
      <div class="jumbotron text-center">
        <h1><span></span> Resource Wall </h1>
        <p> Ideas for Developers </p>
        <!-- <p>Login or Register with:</p> -->
        <a href="/login" class="btn btn-default" data-toggle="modal" data-target="#myModal"><span class="fa fa-user"></span> Login </a>
        <a href="/signup" class="btn btn-default" data-toggle="modal" data-target="#myModal2"><span class="fa fa-user"></span> Sign Up </a>
      </div>
    </div>

    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModal2">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>

    <% include partials/_footer %>

  </body>
</html>
