<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Add category</h1>
    <form action="/api/category" method="POST">
      <input type="text" name="catname">
      <input type="submit" value="submit">
      </form>

    <h1>Add items to category</h1>

      <form action="/api/add_res" method="POST">
        <h2>Choose category</h2>
        <select name="cat_id">
          <option></option>
        </select>
        <input type="hidden" name="reso_id" value="1">
        <input type="submit" value="Add">
      </form>

    <h1>Search Resources</h1>

    <form id="search" method="GET" action="/api/search">
      <input id="query" type="text" name="query">
      <input type="submit" value="Search">
    </form>

  </body>
</html>
