
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Resource Wall -- Home</title>

    <!-- Bootstrap -->
    <link href="vendor/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <%- include("partials/_navigation_head_items"); %>

  </head>
  <body>
  <%- include("partials/_navigation"); %>

  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-md-3">
          <div id="resourcedata">
            <div class="resource" data-toggle="modal" data-target="#resourceModal" data-id="1">
              <div class="title">Master Garate's Portfolio</div>
              <div class="url">http://www.garatephotography.com</div>
              <div class="description">This is a sample description to get an idea of how hard this css crap is going to be.</div>
              <div class="owner">by: @garateca</div>
              <div class="stats">loved by: <span class="badge">10</span></div>
            </div>
          </div>
      </div>


    </div>

  </div> <!-- /container -->


<!--  -->
<div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="resourceModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="resourceModalLabel">Title Here</h4>

      </div>
      <div class="modal-body">
        <h5>url here</h5>
        <h6>Description</h6>
        <form action="/api/comments/?_method=PUT" method="POST">
          <div class="form-group">
            <label for="comments-text" class="control-label">Add a comment:</label>
            <textarea class="form-control" id="comments-text"></textarea>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
  <%- include("partials/_bootstrap_core_js"); %>
  <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>

